/* OUTER WRAPPER */
.carousel,
.Imgshowcase {
    width: 100%;
    overflow: visible;
}

/* SCROLL TRACK */
.track {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: auto;
    -webkit-overflow-scrolling: touch;

    cursor: grab;

    scrollbar-width: none;/* Firefox */


    width: 100%;
}

/* hide scrollbar (Chrome/Safari) */
.track::-webkit-scrollbar {
    display: none;
}

/* IMAGES */
.track img {
    width: 800px;
    height: auto;

    object-fit: contain;
    border-radius: 10px;

    flex-shrink: 0;
    user-select: none;
    pointer-events: none;
}